.icon__gear {
  position: relative;
}

.notification__sm {
  position: absolute;
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  left: -5px;
  bottom: 20px;
}

.recommended-friends {
  margin: 25px 0px;
  padding: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends__title {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
}

.recommended-friends span {
  display: block;
  margin: 100px 0px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  font-size: 20px;
}

.open-chat-post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.open-chat_header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 25px;
  align-items: center;
}

.open-chat_header span {
  opacity: 0.6;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.open-post:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}

.open-post__members {
  display: flex;
  align-items: center;
  margin-top: 7px;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__count {
  opacity: 0.5;
  font-size: 16px;
}

.open-post__members .divider {
  width: 1px;
  height: 15px;
  margin: 0px 5px;
  background-color: rgba(0, 0, 0, 0.3);
}

.open-post__status {
  color: #ffb0e0;
}

.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.open-post__photo {
  position: relative;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 14px;
}

.open-post__heart-count span {
  margin-left: 5px;
}

.open-post__status__closed {
  color: rgba(0, 0, 0, 0.8);
}
